@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital@1&display=swap');

body {
    background-color: white;
    font-family: "Lato";
    font-weight: 600;
    font-size: 16px;
    color: dimgrey;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto";
    font-weight: 300;
    color: white;
}
.nvbr-h3{
    font-size: 36px;
    color:dimgrey ;
}
.slideout-sidebar {
    position: fixed;
    top: 0;
    left: -190px;
    z-index: 0;
    width: 150px;
    height: 100%;
    padding: 20px;
    background-color: #212121;
    transition: all 300ms ease-in-out;
}

.slideout-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideout-sidebar ul li {
    cursor: pointer;
    padding: 18px 0;
    border-bottom: 1px solid rgba(244, 244, 244, 0.4);
    color: rgba(244, 244, 244, 0.7);
}

.slideout-sidebar ul li:last-child {
    border-bottom: 0;
}

.slideout-sidebar ul li:hover {
    color: rgba(244, 244, 244, 1);
}

#menu-toggle {
    display: none;
}

.menu-icon {
    position: absolute;
    top: 18px;
    left: 30px;
    font-size: 24px;
    z-index: 1;
    transition: all 300ms ease-in-out;
}

#menu-toggle:checked ~ .slideout-sidebar {
    left: 0px;
}

#menu-toggle:checked + .menu-icon {
    left: 210px;
}

#menu-toggle:checked ~ .content-container {
    padding-left: 190px;
   }


@media (max-width: 767px) {

    .content-container {
        max-width: 100%;
        margin: 50px auto 0;
    }

    #menu-toggle:checked ~ .content-container {
        padding-left: 0;
    }

    .slideout-sidebar ul {
        text-align: center;
        max-width: 200px;
        margin: 30px auto 0;
    }

    .menu-icon {
        left: 20px
    }

    #menu-toggle:checked ~ .slideout-sidebar {
        width: 100%;
    }

    #menu-toggle:checked + .menu-icon {
        left: 87%;
        color: #fafafa;
    }

    @media screen
    and (max-width: 736px)
    and (orientation: landscape) {

        .slideout-sidebar {
            padding: 0;
        }

        .slideout-sidebar ul {
            max-width: 100%;
            margin: 60px auto 0;
        }

        .slideout-sidebar ul li {
            display: inline-block;
            border-bottom: 0;
            width: 72px;
            padding: 18px 24px;
            margin: 0 6px 12px;
            color: #ffffff;
            background-color: #777;
        }

    }

}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

.content-container-h3{
    font-size: 35px;
}
#headerwrap {
    background: url("../img/h1.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

#headerwrap h1 {
    color: white;
    font-size: 90px;
    font-weight: 300;
    letter-spacing: 4px;
}
#headerwrap .mainP{

    color: antiquewhite;
    font-size: 20px;
    letter-spacing: 1px;
}
#section2{height: 12vh;}
#section2 p{
    color: dimgrey;
    font-size: 35px;
    font-family: Lato;
    font-weight: 100;
}
h2{
    color: palevioletred;
}
h3{
    color: black;
    font-size: 30px;
    font-family: Lato;
    font-weight: 100;

}

.text-content{
    background-size: cover;
    width: 350px;
    align-items: center;

}

.image-element{
    background: url("../img/image2.jpg");
    background-size: cover;
    height:70vh;
    width: 70vh;
    display: flex;
    align-items: normal;
}
#footer {
    background: black;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#footer i {
    color: gray;
    font-size: 30px;
    padding: 20px;
}

#footer i:hover {
    color: red;
}

#copyrights {
    background: black;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
}